<template name="addObservation">
    <form role="form" class="form-inline">
        <div class="form-group">
            <input class="form-control" type="text" name="type" placeholder="Observation Type">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="value" placeholder="Observation Value">
        </div>
        <div class="form-group">
            <input type="file" name="observationFile">
        </div>
        <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-plus"></span></button>
    </form>
</template>
