<template name="header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#este-collapsible-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{pathFor 'home'}}">Estë</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="este-collapsible-nav">
                <ul class="nav navbar-nav">
                    {{> navButtons}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> adminButtons}}
                    {{> utilityButtons}}
                    {{> loginButtons }}
                </ul>
            </div>
        </div>
    </nav>
</template>
