<template name="listPatients">
    <span class="pull-right">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="search">Search Patients</label>
                <input class="form-control search" type="text" name="search" placeholder="Search Patients">
            </div>
            <div class="form-group">
                <a class="btn btn-default" href="{{pathFor 'addPatient'}}"><span class="glyphicon glyphicon-plus"></span> Add Patient</a>
            </div>
        </form>
    </span>
    <h2>Patients</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Short ID</th>
                <th>MRN</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each patients}}
                {{> patientRow}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="patientRow">
    <tr>
        <td>{{shortId}}</td>
        <td>{{mrn}}</td>
        <td>{{firstName}} {{lastName}}</td>
        <td>
            <a class="btn btn-default" href="{{pathFor 'viewPatient'}}" title="View patient file."><span class="glyphicon glyphicon-folder-open"></span></a>
            <a class="btn btn-default" href="{{pathFor 'editPatient'}}" title="Edit patient file."><span class="glyphicon glyphicon-pencil"></span></a>
        </td>
    </tr>
</template>
