<template name="listPatients">
    <span class="pull-right">
        {{#if selectedPatientsList}}
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{pathFor 'listPatientsPrint'}}"><span class="glyphicon glyphicon-list"></span> Printable List</a>
                <button class="btn btn-default" id="clearSelection"> Clear Selection</button>
            </div>
        {{/if}}
        <a class="btn btn-default" href="{{pathFor 'addPatient'}}"><span class="glyphicon glyphicon-plus"></span> Add Patient</a>
    </span>
    <h2>Patients</h2>
    <div class="row">
        <div class="form-group col-sm-5">
            <label for="startDate">Start Date</label>
            <input class="form-control datepicker" type="text" name="startDate" placeholder="Start Date">
        </div>
        <div class="form-group col-sm-5">
            <label for="endDate">End Date</label>
            <input class="form-control datepicker" type="text" name="endDate" placeholder="End Date">
        </div>
        <div class="form-group col-sm-2"><button class="btn btn-default btn-align" id="clearDateFilters">Clear</button></div>
    </div>
    {{> tabular table=TabularTables.Patients selector=tabularSelector class="table table-striped table-bordered table-condensed"}}
</template>

<template name="patientRowButtons">
    <a class="btn btn-default btn-xs" href="{{pathFor 'viewPatient'}}" title="View patient {{shortId}} file."><span class="glyphicon glyphicon-folder-open"></span></a>
    <a class="btn btn-default btn-xs" href="{{pathFor 'editPatient'}}" title="Edit patient {{shortId}} file."><span class="glyphicon glyphicon-pencil"></span></a>
</template>

<template name="instanceOfProcurementDates">
    {{#each instancesOfProcurement}}
        <span class="label label-primary">{{formatDateString date}}</span>
    {{/each}}
</template>
