<template name="listDeletedPatients">
    <span class="pull-right">
        {{#if selectedPatientsList}}
            <div class="btn-group" role="group">
                <a class="btn btn-default" href="{{pathFor 'listPatientsPrint'}}"><span class="glyphicon glyphicon-list"></span> Printable List</a>
                <button class="btn btn-default" id="clearSelection"> Clear Selection</button>
            </div>
        {{/if}}
        <a class="btn btn-default" href="{{pathFor 'listPatients'}}">Back to Patients</a>
    </span>
    <h2>Deleted Patients</h2>
    <div class="row">
        <div class="form-group col-sm-5">
            <label for="startDate">Start Date</label>
            <input class="form-control datepicker" type="text" name="startDate" placeholder="Start Date">
        </div>
        <div class="form-group col-sm-5">
            <label for="endDate">End Date</label>
            <input class="form-control datepicker" type="text" name="endDate" placeholder="End Date">
        </div>
        <div class="form-group col-sm-2"><button class="btn btn-default btn-align" id="clearDateFilters">Clear</button></div>
    </div>
    {{> tabular table=TabularTables.Patients selector=tabularSelector class="table table-striped table-bordered table-condensed"}}
</template>
