<template name="viewPatient">
    <span class="pull-right">
        <a class="btn btn-default" href="{{pathFor 'editPatient'}}"><span class="glyphicon glyphicon-pencil"></span> Edit Patient</a>
    </span>
    <h2>{{firstName}} {{lastName}} <small>{{mrn}}</small></h2>
    <h3>Observations</h3>
    {{> addObservation}}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Type</th>
                <th>Value</th>
                <th>Added By</th>
            </tr>
        </thead>
        <tbody>
            {{#each observations}}
                {{> observationRow}}
            {{/each}}
        </tbody>
    </table>
</template>
