<template name="viewPatient">
    <span class="pull-right">
        <a class="btn btn-default" href="{{pathFor 'editPatient'}}"><span class="glyphicon glyphicon-pencil"></span> Edit Patient</a>
    </span>
    <h2>{{firstName}} {{lastName}} <small>Code: {{shortId}}</small></h2>
    <h4>Patient Information</h4>
    {{> attributeRow attribute="First Name" value=firstName}}
    {{> attributeRow attribute="Middle Initial" value=middleName}}
    {{> attributeRow attribute="Last Name" value=lastName}}
    {{> attributeRow attribute="MRN" value=mrn}}
    {{> attributeRow attribute="Date of Birth" value=dateOfBirthString}}
    {{> attributeRow attribute="Code" value=shortId}}
    <h4>Instances of Procurement</h4>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Age at Procurement</th>
                <th>Surgical Path Number</th>
                <th>Other Number</th>
            </tr>
        </thead>
        <tbody>
            {{#each instancesOfProcurement}}
                {{> instanceOfProcurementRow}}
            {{/each}}
        </tbody>
    </table>
</template>

<template name="instanceOfProcurementRow">
    <tr>
        <td>{{formatDateString}}</td>
        <td>{{ageAtCollectionString ../dateOfBirth}}</td>
        <td>
            <!--span class="pull-right">
                <a class="btn btn-default btn-xs" href="" title="Open Surgical Pathology Report"><span class="glyphicon glyphicon-new-window"></span></a>
            </span-->
            {{surgicalPathologyNumber}}
        </td>
        <td>{{otherNumber}}</td>
    </tr>
</template>
